# Hotel Booking Demand Prediction Database Setup
### Overview: 
* Every year, more than 140 million bookings are made on the internet and many hotel bookings made through top-visited travel websites like Booking.com, Expedia.com, Hotels.com, etc. According to Google data, hotels are booked in advance of 12 weeks.
* In thishackathon, we challenge data science enthusiasts to predict hotel booking cancellations using 33 distinguishing features.It would be very helpful for the hotels to have such a model to decide if a guest will actually come or not. So that they can plan things like personel and food requirements in advance.

Cleaning The Data

In [1]:
import pandas as pd

In [2]:
train_data = pd.read_csv('train.csv', index_col=0)

In [3]:
train_data.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
Transaction_Id,,,,,,,,,,,,,,,,,,,,,
1001,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1002,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,2015-07-01
1003,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
1004,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,2015-07-02
1005,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,2015-07-03

In [4]:
train_copy = train_data.copy()
train_copy.describe()

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,100000.000000,100000.000000,100000.00000,100000.000000,100000.000000,100000.00000,100000.00000,100000.000000,99996.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,85565.000000,5923.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,0.442070,106.339730,2016.03237,27.630900,15.728930,0.94293,2.55361,1.855180,0.102164,0.008260,0.035490,0.103800,0.160390,0.207940,97.376416,179.686645,2.754230,99.478089,0.068790,0.516830
std,0.496635,108.218604,0.68646,13.401401,8.764458,1.02108,1.98035,0.587716,0.396599,0.100359,0.185016,0.921528,1.632382,0.629464,114.289032,129.212578,19.155146,51.674414,0.256434,0.762222
min,0.000000,0.000000,2015.00000,1.000000,1.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.00000,17.000000,8.000000,0.00000,1.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,51.000000,0.000000,65.000000,0.000000,0.000000
50%,0.000000,71.000000,2016.00000,28.000000,16.000000,1.00000,2.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,174.000000,0.000000,90.065000,0.000000,0.000000
75%,1.000000,165.000000,2017.00000,39.000000,23.000000,2.00000,3.00000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,240.000000,251.000000,0.000000,123.000000,0.000000,1.000000
max,1.000000,737.000000,2017.00000,53.000000,31.000000,19.00000,50.00000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

Counting null values

In [5]:
train_copy.isnull().sum().sort_values(ascending=False)

company                           94077
agent                             14435
country                             487
children                              4
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
is_canceled                           0
market_segment                        0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
babies                                0
meal                                  0
reservation_status_date               0
distribution_channel                  0
reservation_status                    0
is_repeated_guest                     0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
hotel                                 0
dtype: int64

2. Dealing with missing Values

    + Company 
    + Agent
    + Country
    + children

+ These columns have unique values so we replace the missing values with 0 because they are ID's and 0 will represent no ID

In [12]:
train_copy['company'].fillna(0, inplace=True)
train_copy['agent'].fillna(0, inplace=True)

3) Country

In [13]:
train_copy['country'].value_counts()

PRT    45875
GBR    10040
ESP     7333
FRA     7179
DEU     4974
       ...
MDG        1
BWA        1
UMI        1
PRY        1
CYM        1
Name: country, Length: 168, dtype: int64

+ mode is PRT -> Portugal

In [14]:
train_copy['country'].fillna(train_data.country.mode().to_string(), inplace=True)

IV) Children

In [15]:
train_copy['children'].describe()

count    99996.000000
mean         0.102164
std          0.396599
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         10.000000
Name: children, dtype: float64

mean would be a good measure of central tendancy and it can be used to fill the missing values. as it is a numerical data

In [17]:
train_copy[~train_copy['children'].isnull()]

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
Transaction_Id,,,,,,,,,,,,,,,,,,,,,
1001,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,0.0,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1002,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,0.0,0.0,0,Transient,0.00,0,0,Check-Out,2015-07-01
1003,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,0.0,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
1004,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,0.0,0,Transient,75.00,0,0,Check-Out,2015-07-02
1005,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,0.0,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100996,City Hotel,0,184,2016,October,43,17,1,3,2,...,No Deposit,9.0,0.0,0,Transient,128.70,0,2,Check-Out,2016-10-21
100997,City Hotel,0,59,2016,October,43,17,1,3,1,...,No Deposit,9.0,0.0,0,Transient,117.00,0,2,Check-Out,2016-10-21
100998,City Hotel,0,256,2016,October,43,16,2,3,2,...,No Deposit,9.0,333.0,0,Transient-Party,100.75,0,0,Check-Out,2016-10-21
100999,City Hotel,0,256,2016,October,43,16,2,3,2,...,No Deposit,9.0,333.0,0,Transient-Party,100.75,0,0,Check-Out,2016-10-21
101000,City Hotel,0,256,2016,October,43,16,2,3,2,...,No Deposit,9.0,333.0,0,Transient-Party,100.75,0,0,Check-Out,2016-10-21

+ We will fill the missing children records with mean

In [18]:
train_copy['children'].fillna(train_data.children.mean(), inplace=True)

Final na count is a success

In [19]:
train_copy.isnull().sum().sort_values(ascending=False)

reservation_status_date           0
reservation_status                0
is_canceled                       0
lead_time                         0
arrival_date_year                 0
arrival_date_month                0
arrival_date_week_number          0
arrival_date_day_of_month         0
stays_in_weekend_nights           0
stays_in_week_nights              0
adults                            0
children                          0
babies                            0
meal                              0
country                           0
market_segment                    0
distribution_channel              0
is_repeated_guest                 0
previous_cancellations            0
previous_bookings_not_canceled    0
reserved_room_type                0
assigned_room_type                0
booking_changes                   0
deposit_type                      0
agent                             0
company                           0
days_in_waiting_list              0
customer_type                     0
adr                               0
required_car_parking_spaces       0
total_of_special_requests         0
hotel                             0
dtype: int64

Having proper datatypes

In [20]:
train_copy.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                          float64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                             float64
company                           float64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [21]:
train_copy[['children', 'company', 'agent']] = train_copy[['children', 'company', 'agent']].astype('int64')

In [22]:
train_copy.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
company                             int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [23]:
train_data = train_copy

### Putting the cleaned train table into a database

Importing library we'll be using to fetch the table from sqllite

In [25]:
from sqlalchemy import create_engine

+ Creating a connection to the database file

In [26]:
engine = create_engine('sqlite:///database.db', echo=True)
sqlite_connection = engine.connect()

2021-03-31 14:45:49,744 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-31 14:45:49,744 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 14:45:49,744 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-31 14:45:49,744 INFO sqlalchemy.engine.base.Engine ()

+ This will put the train table into the database as a table called "train". The table will have the same column names

In [28]:
sqlite_table = "train"
train_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-03-31 14:46:19,104 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("train")
2021-03-31 14:46:19,104 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 14:46:19,104 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("train")
2021-03-31 14:46:19,104 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 14:46:19,104 INFO sqlalchemy.engine.base.Engine
CREATE TABLE train (
	"Transaction_Id" BIGINT,
	hotel TEXT,
	is_canceled BIGINT,
	lead_time BIGINT,
	arrival_date_year BIGINT,
	arrival_date_month TEXT,
	arrival_date_week_number BIGINT,
	arrival_date_day_of_month BIGINT,
	stays_in_weekend_nights BIGINT,
	stays_in_week_nights BIGINT,
	adults BIGINT,
	children BIGINT,
	babies BIGINT,
	meal TEXT,
	country TEXT,
	market_segment TEXT,
	distribution_channel TEXT,
	is_repeated_guest BIGINT,
	previous_cancellations BIGINT,
	previous_bookings_not_canceled BIGINT,
	reserved_room_type TEXT,
	assigned_room_type TEXT,
	booking_changes BIGINT,
	deposit_type TEXT,
	agent BIGINT,
	company BIGINT,
	days_in_waiting_list BIGINT,
	customer_type TEXT,
	adr FLOAT,
	required_car_parking_spaces BIGINT,
	total_of_special_requests BIGINT,
	reservation_status TEXT,
	reservation_status_date TEXT
)


2021-03-31 14:46:19,104 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 14:46:19,258 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-31 14:46:19,258 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_train_Transaction_Id" ON train ("Transaction_Id")
2021-03-31 14:46:19,258 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 14:46:19,421 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-31 14:46:19,552 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-31 14:46:22,243 INFO sqlalchemy.engine.base.Engine INSERT INTO train ("Transaction_Id", hotel, is_canceled, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-03-31 14:46:22,243 INFO sqlalchemy.engine.base.Engine ((1001, 'Resort Hotel', 0, 342, 2015, 'July', 27, 1, 0, 0, 2, 0, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 3, 'No Deposit', 0, 0, 0, 'Transient', 0.0, 0, 0, 'Check-Out', '2015-07-01'), (1002, 'Resort Hotel', 0, 737, 2015, 'July', 27, 1, 0, 0, 2, 0, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 4, 'No Deposit', 0, 0, 0, 'Transient', 0.0, 0, 0, 'Check-Out', '2015-07-01'), (1003, 'Resort Hotel', 0, 7, 2015, 'July', 27, 1, 0, 1, 1, 0, 0, 'BB', 'GBR', 'Direct', 'Direct', 0, 0, 0, 'A', 'C', 0, 'No Deposit', 0, 0, 0, 'Transient', 75.0, 0, 0, 'Check-Out', '2015-07-02'), (1004, 'Resort Hotel', 0, 13, 2015, 'July', 27, 1, 0, 1, 1, 0, 0, 'BB', 'GBR', 'Corporate', 'Corporate', 0, 0, 0, 'A', 'A', 0, 'No Deposit', 304, 0, 0, 'Transient', 75.0, 0, 0, 'Check-Out', '2015-07-02'), (1005, 'Resort Hotel', 0, 14, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'BB', 'GBR', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', 240, 0, 0, 'Transient', 98.0, 0, 1, 'Check-Out', '2015-07-03'), (1006, 'Resort Hotel', 0, 14, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'BB', 'GBR', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', 240, 0, 0, 'Transient', 98.0, 0, 1, 'Check-Out', '2015-07-03'), (1007, 'Resort Hotel', 0, 0, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 0, 'No Deposit', 0, 0, 0, 'Transient', 107.0, 0, 0, 'Check-Out', '2015-07-03'), (1008, 'Resort Hotel', 0, 9, 2015, 'July', 27, 1, 0, 2, 2, 0, 0, 'FB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 0, 'No Deposit', 303, 0, 0, 'Transient', 103.0, 0, 1, 'Check-Out', '2015-07-03')  ... displaying 10 of 100000 total bound parameter sets ...  (100999, 'City Hotel', 0, 256, 2016, 'October', 43, 16, 2, 3, 2, 0, 0, 'BB', 'DEU', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', 9, 333, 0, 'Transient-Party', 100.75, 0, 0, 'Check-Out', '2016-10-21'), (101000, 'City Hotel', 0, 256, 2016, 'October', 43, 16, 2, 3, 2, 0, 0, 'BB', 'DEU', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 1, 'No Deposit', 9, 333, 0, 'Transient-Party', 100.75, 0, 0, 'Check-Out', '2016-10-21'))
2021-03-31 14:46:23,146 INFO sqlalchemy.engine.base.Engine COMMIT

+ Closing the conection is important

In [29]:
sqlite_connection.close()

## the same way we process the test data

In [30]:
test_data = pd.read_csv('test.csv', index_col=0)
test_data.head()

,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
Transaction_Id,,,,,,,,,,,,,,,,,,,,,
101001,City Hotel,182,2016,October,43,16,2,3,2,0,...,No Deposit,7.0,NaN,0,Transient,70.44,0,2,Check-Out,2016-10-21
101002,City Hotel,184,2016,October,43,17,1,3,3,0,...,No Deposit,9.0,NaN,0,Transient,128.70,0,3,Check-Out,2016-10-21
101003,City Hotel,0,2016,October,43,21,0,0,1,0,...,No Deposit,NaN,331.0,0,Transient,0.00,0,0,Check-Out,2016-10-21
101004,City Hotel,184,2016,October,43,17,1,3,2,0,...,No Deposit,9.0,NaN,0,Transient,128.70,0,2,Check-Out,2016-10-21
101005,City Hotel,50,2016,October,43,19,0,2,2,1,...,No Deposit,22.0,NaN,0,Transient,98.55,0,0,Check-Out,2016-10-21

In [31]:
test_copy = test_data.copy()
test_copy.isnull().sum().sort_values(ascending=False)

company                           18516
agent                              1905
country                               1
reservation_status_date               0
market_segment                        0
lead_time                             0
arrival_date_year                     0
arrival_date_month                    0
arrival_date_week_number              0
arrival_date_day_of_month             0
stays_in_weekend_nights               0
stays_in_week_nights                  0
adults                                0
children                              0
babies                                0
meal                                  0
is_repeated_guest                     0
distribution_channel                  0
reservation_status                    0
previous_cancellations                0
previous_bookings_not_canceled        0
reserved_room_type                    0
assigned_room_type                    0
booking_changes                       0
deposit_type                          0
days_in_waiting_list                  0
customer_type                         0
adr                                   0
required_car_parking_spaces           0
total_of_special_requests             0
hotel                                 0
dtype: int64

In [33]:
test_copy['company'].fillna(0, inplace=True)
test_copy['agent'].fillna(0, inplace=True)
test_copy['country'].fillna(train_data.country.mode().to_string(), inplace=True)
test_copy[['children', 'company', 'agent']] = train_copy[['children', 'company', 'agent']].astype('int64')

In [34]:
train_copy.dtypes

hotel                              object
is_canceled                         int64
lead_time                           int64
arrival_date_year                   int64
arrival_date_month                 object
arrival_date_week_number            int64
arrival_date_day_of_month           int64
stays_in_weekend_nights             int64
stays_in_week_nights                int64
adults                              int64
children                            int64
babies                              int64
meal                               object
country                            object
market_segment                     object
distribution_channel               object
is_repeated_guest                   int64
previous_cancellations              int64
previous_bookings_not_canceled      int64
reserved_room_type                 object
assigned_room_type                 object
booking_changes                     int64
deposit_type                       object
agent                               int64
company                             int64
days_in_waiting_list                int64
customer_type                      object
adr                               float64
required_car_parking_spaces         int64
total_of_special_requests           int64
reservation_status                 object
reservation_status_date            object
dtype: object

In [35]:
test_data = test_copy

+ Putting the cleaned test table into the database.

In [36]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///database.db', echo=True)
sqlite_connection = engine.connect()
sqlite_table = "test"
test_data.to_sql(sqlite_table, sqlite_connection, if_exists='fail')

2021-03-31 15:03:02,003 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-03-31 15:03:02,003 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 15:03:02,003 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-03-31 15:03:02,003 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 15:03:02,019 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("test")
2021-03-31 15:03:02,019 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 15:03:02,019 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("test")
2021-03-31 15:03:02,034 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 15:03:02,034 INFO sqlalchemy.engine.base.Engine
CREATE TABLE test (
	"Transaction_Id" BIGINT,
	hotel TEXT,
	lead_time BIGINT,
	arrival_date_year BIGINT,
	arrival_date_month TEXT,
	arrival_date_week_number BIGINT,
	arrival_date_day_of_month BIGINT,
	stays_in_weekend_nights BIGINT,
	stays_in_week_nights BIGINT,
	adults BIGINT,
	children FLOAT,
	babies BIGINT,
	meal TEXT,
	country TEXT,
	market_segment TEXT,
	distribution_channel TEXT,
	is_repeated_guest BIGINT,
	previous_cancellations BIGINT,
	previous_bookings_not_canceled BIGINT,
	reserved_room_type TEXT,
	assigned_room_type TEXT,
	booking_changes BIGINT,
	deposit_type TEXT,
	agent FLOAT,
	company FLOAT,
	days_in_waiting_list BIGINT,
	customer_type TEXT,
	adr FLOAT,
	required_car_parking_spaces BIGINT,
	total_of_special_requests BIGINT,
	reservation_status TEXT,
	reservation_status_date TEXT
)


2021-03-31 15:03:02,034 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 15:03:02,304 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-31 15:03:02,304 INFO sqlalchemy.engine.base.Engine CREATE INDEX "ix_test_Transaction_Id" ON test ("Transaction_Id")
2021-03-31 15:03:02,320 INFO sqlalchemy.engine.base.Engine ()
2021-03-31 15:03:02,482 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-31 15:03:02,504 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-31 15:03:02,984 INFO sqlalchemy.engine.base.Engine INSERT INTO test ("Transaction_Id", hotel, lead_time, arrival_date_year, arrival_date_month, arrival_date_week_number, arrival_date_day_of_month, stays_in_weekend_nights, stays_in_week_nights, adults, children, babies, meal, country, market_segment, distribution_channel, is_repeated_guest, previous_cancellations, previous_bookings_not_canceled, reserved_room_type, assigned_room_type, booking_changes, deposit_type, agent, company, days_in_waiting_list, customer_type, adr, required_car_parking_spaces, total_of_special_requests, reservation_status, reservation_status_date) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-03-31 15:03:02,984 INFO sqlalchemy.engine.base.Engine ((101001, 'City Hotel', 182, 2016, 'October', 43, 16, 2, 3, 2, None, 0, 'BB', 'DEU', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', None, None, 0, 'Transient', 70.44, 0, 2, 'Check-Out', '2016-10-21'), (101002, 'City Hotel', 184, 2016, 'October', 43, 17, 1, 3, 3, None, 0, 'BB', 'CHE', 'Online TA', 'TA/TO', 0, 0, 0, 'D', 'D', 0, 'No Deposit', None, None, 0, 'Transient', 128.7, 0, 3, 'Check-Out', '2016-10-21'), (101003, 'City Hotel', 0, 2016, 'October', 43, 21, 0, 0, 1, None, 0, 'BB', 'PRT', 'Corporate', 'Corporate', 1, 0, 0, 'A', 'K', 0, 'No Deposit', None, None, 0, 'Transient', 0.0, 0, 0, 'Check-Out', '2016-10-21'), (101004, 'City Hotel', 184, 2016, 'October', 43, 17, 1, 3, 2, None, 0, 'BB', 'CHE', 'Online TA', 'TA/TO', 0, 0, 0, 'D', 'D', 0, 'No Deposit', None, None, 0, 'Transient', 128.7, 0, 2, 'Check-Out', '2016-10-21'), (101005, 'City Hotel', 50, 2016, 'October', 43, 19, 0, 2, 2, None, 0, 'BB', 'GBR', 'Offline TA/TO', 'TA/TO', 0, 0, 0, 'A', 'B', 1, 'No Deposit', None, None, 0, 'Transient', 98.55, 0, 0, 'Check-Out', '2016-10-21'), (101006, 'City Hotel', 24, 2016, 'October', 43, 16, 2, 3, 2, None, 0, 'BB', 'FRA', 'Offline TA/TO', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', None, None, 0, 'Transient', 85.0, 0, 0, 'Check-Out', '2016-10-21'), (101007, 'City Hotel', 26, 2016, 'October', 43, 16, 2, 3, 2, None, 0, 'BB', 'GBR', 'Offline TA/TO', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', None, None, 0, 'Transient', 85.0, 0, 0, 'Check-Out', '2016-10-21'), (101008, 'City Hotel', 184, 2016, 'October', 43, 17, 1, 3, 2, None, 0, 'BB', 'CHE', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', None, None, 0, 'Transient', 96.3, 0, 2, 'Check-Out', '2016-10-21')  ... displaying 10 of 19390 total bound parameter sets ...  (120389, 'City Hotel', 109, 2017, 'August', 35, 31, 2, 5, 2, None, 0, 'BB', 'GBR', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', None, None, 0, 'Transient', 104.4, 0, 0, 'Check-Out', '2017-09-07'), (120390, 'City Hotel', 205, 2017, 'August', 35, 29, 2, 7, 2, None, 0, 'HB', 'DEU', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', None, None, 0, 'Transient', 151.2, 0, 2, 'Check-Out', '2017-09-07'))
2021-03-31 15:03:03,238 INFO sqlalchemy.engine.base.Engine COMMIT

In [37]:
sqlite_connection.close()

# Template for fetch from database

In [38]:
#Importing the sqlite libraries
import sqlite3
import pandas as pd
# Creating our connection.
cnx = sqlite3.connect('database.db')
#Getting the tables from the database
train_sql_table = pd.read_sql_query("SELECT * FROM train", cnx)
test_sql_table = pd.read_sql_query("SELECT * FROM test", cnx)

+ Closing the connection

In [39]:
cnx.close()

#### Displaying the tables
+ train table

In [40]:
train_sql_table.head()

,Transaction_Id,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,1001,Resort Hotel,0,342,2015,July,27,1,0,0,...,No Deposit,0,0,0,Transient,0.0,0,0,Check-Out,2015-07-01
1,1002,Resort Hotel,0,737,2015,July,27,1,0,0,...,No Deposit,0,0,0,Transient,0.0,0,0,Check-Out,2015-07-01
2,1003,Resort Hotel,0,7,2015,July,27,1,0,1,...,No Deposit,0,0,0,Transient,75.0,0,0,Check-Out,2015-07-02
3,1004,Resort Hotel,0,13,2015,July,27,1,0,1,...,No Deposit,304,0,0,Transient,75.0,0,0,Check-Out,2015-07-02
4,1005,Resort Hotel,0,14,2015,July,27,1,0,2,...,No Deposit,240,0,0,Transient,98.0,0,1,Check-Out,2015-07-03

+ test table

In [41]:
test_sql_table.head()

,Transaction_Id,hotel,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,101001,City Hotel,182,2016,October,43,16,2,3,2,...,No Deposit,None,None,0,Transient,70.44,0,2,Check-Out,2016-10-21
1,101002,City Hotel,184,2016,October,43,17,1,3,3,...,No Deposit,None,None,0,Transient,128.70,0,3,Check-Out,2016-10-21
2,101003,City Hotel,0,2016,October,43,21,0,0,1,...,No Deposit,None,None,0,Transient,0.00,0,0,Check-Out,2016-10-21
3,101004,City Hotel,184,2016,October,43,17,1,3,2,...,No Deposit,None,None,0,Transient,128.70,0,2,Check-Out,2016-10-21
4,101005,City Hotel,50,2016,October,43,19,0,2,2,...,No Deposit,None,None,0,Transient,98.55,0,0,Check-Out,2016-10-21